*{
    font-family: "Nunito";
    font-size:17px;
}

::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-track {
    background-color: #cbd5e0;
  }